*{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

body{
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    /*padding-top: 10%;*/
    padding-top: 8%;
    flex: 1;
    background-color: white;
}
.paginacion{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 3%;
    background-color: white;
}

.paginacion a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: black;
    color: white;
    text-decoration: none;
}

.paginacion a:hover{
    background-color: #d50032;
}
.paginacion a.active{
    background-color: #d50032;
}
.contenedor-aside main{
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.contenedor-aside{
    display: flex;
    align-items: flex-start;
    flex: 1;
    padding-top:5.5%;
    /*padding-top: 8;*/     
    background-color: gray;
}
aside{
    position: sticky;
    top: 15%; 
    min-height: 100vh;
    
    flex: 0 0 5%;
    padding-top: 2%;
    background: linear-gradient(
        to bottom,
        black 0%,
        #111 50%,
        #7a001c 95%,
        #d50032 100%
    );
    color: black;
    font-size: 1px;
    transition: 0.02s;
}

aside a{
    text-decoration: none;
    color: black;
    font-size: 5px;
}


aside div{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
aside div ul{
    margin-left: 5%;
    list-style: none;
}
aside ul li
{
    margin: 4% 0;

}
aside hr
{
    border: none;
    width: 10%;
}
aside div ul li a:hover
{
    margin-left: 1%;
    font-size: 18px;
}
aside:hover
{
    transition: 0.02s;
    font-size: 25px;
    color: white;
    flex: 0 0 18%;
}
aside:hover a
{
    color: white;
    font-size: 18px;
}
aside:hover hr
{
    border: 1px solid white;
    color: white;
    width: 80%;
}
aside .menu
{
    color: white;
    font-size: 35px;
    margin-left: 15px;
    width: fit-content;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
    letter-spacing: 0;
}

footer img {
    width: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.sponsors{
    text-align: center;
    width: 100%;
    background-color: black;
    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
}
.sponsors img
{
    text-align: center;
    width: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 0;
}
footer a{
    text-decoration: none;
}
footer ul{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    list-style: none;

    margin: 2% 0;
    padding: 0;
}

footer ul li{
    display: inline-block;
}

footer ul a{
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding-right: 7.2%;
    padding-left: 7%;    
    position: fixed;
    align-items: center;
    background-color: black;
    width: 88%;
    z-index: 1000;

}




header div{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    background-color: black;
    width: 100%;
}
header a img{
    width: 227px;
}
header a{
    width: fit-content;
    margin:0;
    padding:0;
}
header nav  a:hover,footer ul a:hover, aside a:hover{
        color: #d50032;
        border-bottom: 5px solid #d50032;

}
header nav {
    margin-top: 2%;
    display: flex;
    align-items: center;
}


header nav ul{
    width: 100%;
    list-style: none;
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;

}

footer hr{
    width: 70%;
    margin: 2% auto;
    border: none;
    border-top: 1px solid white;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
p
{
    font-family: "roboto", sans-serif ;
}
h1,h2
{
    color: white;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 40px;
}


/*sectipns y clases en el main*/

.hero .rojo{
    color: #d50032;
}
.hero{
    background-image: url("assets/fondos/Fondo-HERO.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 2%;
}
.hero p{
    color: white;
}
.hero hr{
    width: 35%;
    margin: 2% 0 2% .2%;
}
.hero div{
    margin-top:2% ;
    margin-left: 2%;
}
.hero a{
    font-size: 20px;
    margin-left: .5%;
    margin-right: .5%;
    color: white;
    border: 1px solid #d50032;
    text-decoration:none ;
    padding: .5%;
    border-radius: 10px;
    background-color: black;
}
.hero a:hover{
    background-color: #d50032;
    color: black;
    text-decoration: underline;
}

.categories{
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #2a2829;
    color: white;
    text-align: center; 
    margin-bottom: 2%;
    padding-top: 3%;
}
.categories div{
    display: flex;
flex-direction: column;
align-items: center;
margin-top: 1%; 
}
.categories img{
    width: 70%;
    height: 70%;
    padding-bottom: 2%;
}

.categories a,.desprod a:last-child
{
    grid-column: 2/3;
    margin:0 auto;
    background-color: black;
    color: white;
    padding: 2%;
    border-radius: 10px;
    text-decoration: none;
}


.categories a:hover, .desprod a:last-child:hover
{
    background-color: #d50032;
    color: black;
    text-decoration: underline;
}
.desprod
{
    margin-bottom: 2%;
}



.desprod h1{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 3%;
    margin-bottom: 2%;
}
.newsletter h1
{
    color: black;
}
.about img{

    height: 100%;
}
.about{
    background-color: #2a2829;
    color: white;
}
.about h1{
    padding-bottom: 2%;
}
.about ul{
    list-style: none;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    padding-top: 5%;
}
.about ul li p{
    font-size: 30px;

}
.about div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    padding-left: 1%

}
.about p{
    font-size: 18px;
    width: 90%;
    text-align: left;
    padding-left: 1%;
}












    
.about img{
    width: 100%;
}



.store-hero img{
    width: 100%;
    height: auto;
    display: block;
}
.store-hero{
    width: 100%;
    margin-top: 2.5%;
}
.products{
    background-color: white;
    padding-top: 2%;
    min-height: 100vh;
    padding-bottom: 2%;
}

.listaProductos{
  list-style: none;

}
.listaProductos div
{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 1%;
}
.listaProductos div img
{
    display: flex;
    align-items: center;
    width: 70%;
    height: auto;
}
.listaProductos div:hover img
{
        border-radius: 10px;
        scale: 1.07;

}
.listaProductos div a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 20px;
    z-index: 999;

}
.products a:last-child  
{   
    
    display: block;
    width: fit-content;
    text-decoration: none;
    color: white;
    background-color: black;
    padding:1%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-size: 18px;
}
.products a:last-child:hover
{
    text-decoration: underline;
} 
.products h3
{
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 2%;
}
.product-page
{
    background-color: white;
    padding-bottom: 2%;

}
.product-page h2
{
    color:black;
    font-size: 30px;
}

.product-info
{
    height: fit-content;
    position: sticky;
    /*top: -10%;*/
    top: -10%;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}
.product-info div p, .product-info div h3, .product-info div h2, .product-info div hr
{
    margin-top:2%;
    margin-bottom:2%;
}
.product-info div hr
{
    margin-top: 8%;
    margin-bottom: 8%;
    width: 90%;
}
.product-info img
{
    width: 50%;
}
.product-info div:last-child {
    width: 100%;
}

.product-info div:last-child h3 {
    font-size: 140%;
    margin: 5% 0 3% 0;
}

.product-info div:last-child form {
    width: 100%;
}

.product-info div:last-child input[type="radio"] {
    margin-left: 2%;
}

.product-info div:last-child input[type="radio"]:first-child {
    margin-left: 0;
}

.product-info div:last-child input[type="number"] {
    width: 15%;
    padding: 2%;
}

.product-info div:last-child a {
    text-align: center;
    text-decoration: none;
    width: 50%;
    padding: 3%;
    margin-top: 5%;
    background-color: black;
    color: white;
    border: none;
    font-family: "Anton", sans-serif;
    cursor: pointer;
    font-size: 22px;
    display: block;
    margin-bottom: 5%;
}

.product-info div:last-child a:hover {
    background-color: #d50032;
}
.product-images div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-images div img{
    width: 50%;
    height: auto;
    display: block;
}

.juegoscoach h2{
    padding-top: 2%;
    padding-bottom: 2%;
}
.juegoscoach{
    background-image: url(assets/fondos/coach-2.png);
    padding-bottom: 2%;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.juegoscoach div:first-child{   
    background-image: url(assets/fondos/coach-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.juegoscoach div img{
    text-align: center;

}
.imgjuegos img
{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.imgjuegos
{
    margin-left: 20%;
    max-width: 60%;
    margin-bottom: 2%;
}
.imgjuegos img:hover
{
    scale: 1.03;
}
.imgjuegos a
{
    margin-left: 1%;
}
.juegoscoach div h1
{
    text-align: center;
    font-size: 150px;
    color: #d50032;
}
.juegoscoach div h2
{
    width: 80%;
    margin: auto;
    color: black;
    padding-bottom: 5%;
}
.juegoscoach h2
{
    text-align: center;
    font-size: 50px;
    color: rgb(250, 250, 250);
}
.juegoscoach div h1:first-child
{
    color: black;
}
.vercoachs
{
    margin-left: 45%;
    padding: 0.5%;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    background-color:   #2a2829;
    font-size: 30px;
    color: white;
}
.vercoachs:hover{
    background-color: white;
    color: black    ;
}
.quesirvecoach{
    background-image: url(assets/fondos/coach-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        padding-bottom: 3%;
    padding-top: 1%;
    color:white;

}
.quesirvecoach h2{
    color: black;
}
.quesirvecoach div div
{
    padding:2% ;
    background-color: #000000;
    width: 70%;
    border-radius: 20px;
    margin-bottom: 1%;
}
.quesirvecoach div div:hover
{
    scale: 107%;
}
.quesirvecoach div div{
    margin: 0 auto;
    margin-bottom: 1%;
}
.quesirvecoach div div p
{
    color: white;
    font-size: 20px;
    text-align: center;
}
.quesirvecoach div div h3
{
    font-size: 30px;
    text-align: center;
}
.quesirvecoach h2
{
    text-align: center;
    font-size: 70px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.streamers
{
    background-image: url(assets/fondos/fondo-streamers.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    padding-bottom: 5%;
}
.streamers h2
{
    text-align: center;
    font-size: 70px;
    margin-bottom: 2%;
}
.streamers h3
{
    color: white;
    font-size: 30px;
    margin-left: 2.5%;
}
.streamers h4
{
    color: #d50032;
    font-size: 20px;
    margin-left: 2.5%;
}
.streamers div div:hover
{
    scale: 103%;
    border: 2px solid white;
}
.streamers div div
{
    background-color: black;
    width: 95%;
    margin-left: 1.7%;
    border-radius: 20px;
    border: 2px solid #d50032;
    padding-bottom: 3%;

}
.streamers div div img
{
    width: 70%;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 2%;
    border-radius: 8px;

}
.streamers div div div
{
    border:  0px;
}

.streamers div div div p
{
    margin-bottom: 0.5%;
    font-size: 20px;
    color: white;
}
.streamers div div div img
{
    width: 20%;
    margin-left: 5%;
}
.streamers div div div img:last-of-type
{
    width: 30%;
    margin-left: 35%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.streamers div div div p:first-of-type
{
    margin-bottom: 12%;
    font-size: 20px;
    width: 47%;
    margin-left: 0%;
}
.streamers div div div h5
{
    color: gray;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 0%;
}
.streamers div div div:hover
{
    border: 0px;
    scale: 100%;
}
.streamers div div div img:first-child
{
    float: left;
}
.streamers div div div p:nth-of-type(2), .streamers div div div p:nth-of-type(3)
{
    margin-left: 15%;
    border: 2px solid #d50032;
    border-radius: 8px;
    text-align: center;
    margin-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.lvlup
{
    text-align: center;
    padding-bottom: 4%;
    background-image: url(assets/fondos/fondoircoachs.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.lvlup a
{
    padding: 0.5%;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin-right: 2%;
    background-color: #2a2829;
    color: white;
}
.lvlup a:hover
{
    color: black;
    background-color: white;
    
}
.lvlup h2
{
    font-size: 60px;
}
.lvlup h3
{
    margin-bottom: 3%;
    margin-top: 2%;
    font-size: 30px;
    color: #d50032;
}





.checkout h1{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 350%;
    margin-bottom: 5%;
}


.checkout{
    width: 60%;
    margin: 0 auto;
    padding: 4%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    margin-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.checkout form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.checkout h2{
    color: black;
    font-size: 180%;
    margin-top: 4%;
    margin-bottom: 1%;
    border-bottom: 2px solid #d50032;
    padding-bottom: 1%;
}

.checkout h3{
    color: black;
    font-size: 120%;
    margin-top: 2%;
}



.checkout input[type="text"], .checkout input[type="number"], .checkout input[type="date"], .checkout select, .checkout input[type="email"]{
    width: 100%;
    padding: 2%;
    border: 1px solid #aaa;
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: white;
}



.checkout form div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkout form  div  input{
    flex: 1;
}



.checkout input[type="checkbox"]{
    accent-color: #d50032;
    margin-right: 1%;
}

.checkout label{
    font-family: Arial, sans-serif;
}



.checkout input[type="radio"]{
    accent-color: #d50032;
}

.checkout form div img{
    width: 6%;
    height: auto;
}



.checkout button{
    display: block;
    width: 35%;
    padding: 2%;
    margin: 4% auto 0 auto;

    background-color: #d50032;
    color: white;
    border: none;

    font-family: "Anton", sans-serif;
    font-size: 130%;

}

.checkout button:hover{
    background-color: black;
}
    
.coaching div div
{
    background-color: black;
    border-radius: 20px;
    padding-bottom: 10%;
}
.coaching div div img
{
    width: 100%;
}
.coaching h1
{
    
    font-size: 150px;
    text-align: center;
    text-decoration: none;
}
.coaching h2
{  
    padding-bottom: 3%;
    padding-top:2%;
    margin: 0 auto;
    font-size: 50px;
    color: #d50032;
    text-align: center;

}
.temp{
    width: 100%;
}
.temp div{
    margin: 0 auto;
    
}
.temp h1
{
    font-size: 30px;
    color: white;
}
.temp h3
{
    color: gray;
    font-size: 15px;
    margin-left: 5%;
}
.temp p
{
    color: white;
    font-size: 20px;
    margin-left: 5%;
}
.temp p:nth-of-type(3)
{
    border: 0px;
    text-align: left;
}
.temp a
{
    text-decoration: none;
    font-size: 22px;
    background-color: #aaa;
    border-radius: 8px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin: 33%;
    margin-top: 20%;
    color: #d50032;

}
.temp div{
    width: 80%;
}
.temp a:hover
{
    color: black;
}


.fonfo{
    background-image: url(assets/fondos/todoscoachs.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.jugadores h1{
    text-align: center;
    font-size: 150px;
    margin-top: 5%;
    color: #d50032;
}
.jugadores h2{
    text-align: center  ;
}
.jugadores a{
    text-align: center;
    text-decoration: none;
    width: 20%;
    padding: 1%;
    margin-top: 5%;
    background-color: black;
    color: white;
    border: none;
    font-family: "Anton", sans-serif;
    cursor: pointer;
    font-size: 22px;
    display: block;
    margin-bottom: 5%;
    margin-left: 40%;
    border: 2px solid #d50032;
}
.jugadores a:hover{
    scale: 107%;
}
.jugadores h1:first-child{
    color: white;
}
.pedido{
    background-image: url(assets/fondos/coach-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2%;
    padding-top: 5%;
}
.pedido h1{
    text-align: center;
    font-size: 150px;
    color: black;
}
.pedido h2{
    text-align: center;
    font-size: 100px;
    color: #d50032;
}
.pedido a{
    text-align: center;
    text-decoration: none;
    width: 20%;
    padding: 1%;
    margin-top: 5%;
    background-color: black;
    color: white;
    border: none;
    font-family: "Anton", sans-serif;
    cursor: pointer;
    font-size: 22px;
    display: block;
    margin-bottom: 5%;
    margin-left: 40%;
    margin-bottom: 5%;
}
.pedido a:hover{
    scale: 107%;
}
.about-hero
{
    background-color: #d50032;
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 8%;   
}
.about-hero p
{
    font-size: 30px;
    margin-top: 2%;
}
.about-intro
{
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 50%;
    margin-left: 20%;
    padding: 5%;
    margin-top: 5%;
}
.about-intro div h2
{
    color: #d50032;  
    margin-bottom: 5%;
}
.mission
{
    background-color: #2a2829;
    text-align: center;
    color: white;
    padding: 5%;
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
}
.mission p:last-child
{
    margin-top: 2%;
}
.mission h2
{
    color: #d50032;
}
.services
{
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 50%;
    margin-left: 15%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    padding-top: 3%;
    text-align: center;
}
.melch div:first-child , .melch div:nth-child(2)
{
    margin-bottom: 30%;
}
.melch div:first-child , .melch div:nth-child(3)
{
    margin-right: 5%;
}
.melch div
{
    background-color: #2a2829;
    color: white;
    height: 50%;
    border-radius: 8px;
    padding: 1%;
}
.melch div h3
{
    color: #d50032;
}
.melch div:first-child p, .melch div:nth-child(2) p, .melch div:nth-child(4) p
{
    margin-top: 3%;
}
.values
{
    background-color: #2a2829;
    padding-bottom: 5%;
    padding-top: 5%;
}
.values h2
{
    text-align: center;
    color: white;
    margin-bottom: 2%;
}
.valoles div h3
{
    color: #d50032;
}
.valoles div
{
    width: 50%;
    background-color: white;
    padding: 5%;
}
.valoles
{
    margin-left: 10%;
}
/*----------------------------------------------------layouts-----------------------------------*/
.x3x2 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x2x1 {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.product-page{
    grid-template-columns: 2fr 1fr;
}
.x3x3 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x3x4 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x3x1 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x2x2 {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.x1x4 {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.x1x5 {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}
.x1x3 {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x1x2 {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
/*-----------------------------Layouts----------------------------------*/



