*{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    margin: 0;
}
body{
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    flex: 1;
}
.contenedor-aside main{
    flex: 1;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenedor-aside{
    display: flex;
    align-items: flex-start;

    flex: 1;
    padding-top: 8%;
    background-color: gray;
}
aside{
    position: sticky;
    top: 20%; 
    min-height: calc(100vh - 10%);

    width: 18%;
    flex: 0 0 18%;
    padding-top: 2%;
    background: linear-gradient(
        to bottom,
        black 0%,
        #111 50%,
        #7a001c 95%,
        #d50032 100%
    );
     color: white;
}
aside a{
    text-decoration: none;
    color: white;
}
aside div{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
aside div ul{
    margin-left: 5%;
    list-style: none;
}
aside ul li
{
        margin: 4% 0;

}
aside hr
{
    width: 80%;
}
aside div ul li a:hover
{
    margin-left: 1%;
    font-size: 18px;
}
h1,h2
{
    color: white;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 0;
}

footer img {
    width: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.sponsors{
    text-align: center;
    width: 100%;
    background-color: black;
    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
}
.sponsors img
{
    text-align: center;
    width: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 0;
}
footer a{
    text-decoration: none;
}
footer ul{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    list-style: none;

    margin: 2% 0;
    padding: 0;
}

footer ul li{
    display: inline-block;
}

footer ul a{
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding-right: 7.2%;
    padding-left: 10%;    
    position: fixed;
    align-items: center;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
        z-index: 1000;

}




header div{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
}
header a img{
    width: 227px;
}
header a{
    width: fit-content;
    margin:0;
    padding:0;
}
header nav  a:hover,footer ul a:hover, aside a:hover{
        color: #d50032;
        border-bottom: 5px solid #d50032;

}
header nav {
    margin-top: 2%;
    display: flex;
    align-items: center;
}


header nav ul{
    width: 100%;
    list-style: none;
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;

}

footer hr{
    width: 70%;
    margin: 2% auto;
    border: none;
    border-top: 1px solid white;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.hero .rojo{
    color: #d50032;
}
.hero{
    background-image: url("assets/fondos/Fondo-HERO.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.about img{
    width: 100%;
}



.store-hero img{
    width: 100%;
    height: auto;
    display: block;
}
.store-hero{
    width: 100%;
    margin-top: 2.5%;
}

/*layouts*/
.x3x2 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x2x1 {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.x2x5{
  width: 100%;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
