*{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
p
{
    font-family: "roboto", sans-serif ;
}
body{
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    padding-top: 10%;
    flex: 1;
    background-color: gray;
}
.paginacion{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 3%;
    background-color: white;
}

.paginacion a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: black;
    color: white;
    text-decoration: none;
}

.paginacion a:hover{
    background-color: #d50032;
}
.paginacion a.active{
    background-color: #d50032;
}
.contenedor-aside main{
    flex: 1;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.contenedor-aside{
    display: flex;
    align-items: flex-start;

    flex: 1;
    padding-top: 8%;
    background-color: gray;
}
aside{
    position: sticky;
    top: 15%; 
    min-height: 100vh;
    
    flex: 0 0 5%;
    padding-top: 2%;
    background: linear-gradient(
        to bottom,
        black 0%,
        #111 50%,
        #7a001c 95%,
        #d50032 100%
    );
    color: black;
    font-size: 1px;
}

aside a{
    text-decoration: none;
    color: black;
    font-size: 5px;
}


aside div{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
aside div ul{
    margin-left: 5%;
    list-style: none;
}
aside ul li
{
    margin: 4% 0;

}
aside hr
{
    border: none;
    width: 10%;
}
aside div ul li a:hover
{
    margin-left: 1%;
    font-size: 18px;
}
aside:hover
{
    font-size: 25px;
    color: white;
    flex: 0 0 18%;
}
aside:hover a
{
    color: white;
    font-size: 18px;
}
aside:hover hr
{
    border: 1px solid white;
    color: white;
    width: 80%;
}
aside .menu
{
    color: white;
    font-size: 35px;
    margin-left: 15px;
    width: fit-content;
}
h1,h2
{
    color: white;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 0;
}

footer img {
    width: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.sponsors{
    text-align: center;
    width: 100%;
    background-color: black;
    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
}
.sponsors img
{
    text-align: center;
    width: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 0;
}
footer a{
    text-decoration: none;
}
footer ul{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    list-style: none;

    margin: 2% 0;
    padding: 0;
}

footer ul li{
    display: inline-block;
}

footer ul a{
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding-right: 7.2%;
    padding-left: 10%;    
    position: fixed;
    align-items: center;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
        z-index: 1000;

}




header div{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
}
header a img{
    width: 227px;
}
header a{
    width: fit-content;
    margin:0;
    padding:0;
}
header nav  a:hover,footer ul a:hover, aside a:hover{
        color: #d50032;
        border-bottom: 5px solid #d50032;

}
header nav {
    margin-top: 2%;
    display: flex;
    align-items: center;
}


header nav ul{
    width: 100%;
    list-style: none;
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;

}

footer hr{
    width: 70%;
    margin: 2% auto;
    border: none;
    border-top: 1px solid white;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.hero .rojo{
    color: #d50032;
}
.hero{
    background-image: url("assets/fondos/Fondo-HERO.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.about img{
    width: 100%;
}



.store-hero img{
    width: 100%;
    height: auto;
    display: block;
}
.store-hero{
    width: 100%;
    margin-top: 2.5%;
}
.products{
    background-color: white;
    padding-top: 2%;
    min-height: 100vh;
    padding-bottom: 2%;
}

.listaProductos{
  list-style: none;

}
.listaProductos div
{
display: flex;
flex-direction: column;
align-items: center;
}
.listaProductos div img
{
    display: flex;
    align-items: center;
    width: 70%;
    height: auto;
}
.listaProductos div:hover img
{
        border-radius: 10px;
        scale: 1.07;

}
.listaProductos div a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 20px;
    z-index: 999;

}
.products a:last-child  
{   
    
    display: block;
    width: fit-content;
    text-decoration: none;
    color: white;
    background-color: black;
    padding:1%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-size: 18px;
}
.products a:last-child:hover
{
    text-decoration: underline;
} 
.products h3
{
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 2%;
}
.product-page
{
    background-color: white;
    padding-bottom: 2%;

}
.product-page h2
{
    color:black;
    font-size: 30px;
}

.product-info
{
    height: fit-content;
    position: sticky;
    top: -25%;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}
.product-info div p, .product-info div h3, .product-info div h2, .product-info div hr
{
    margin-top:2%;
    margin-bottom:2%;
}
.product-info div hr
{
    margin-top: 8%;
    margin-bottom: 8%;
    width: 90%;
}
.product-info img
{
    width: 50%;
}
.product-info div:last-child {
    width: 100%;
}

.product-info div:last-child h3 {
    font-size: 140%;
    margin: 5% 0 3% 0;
}

.product-info div:last-child form {
    width: 100%;
}

.product-info div:last-child input[type="radio"] {
    margin-left: 2%;
}

.product-info div:last-child input[type="radio"]:first-child {
    margin-left: 0;
}

.product-info div:last-child input[type="number"] {
    width: 15%;
    padding: 2%;
    box-sizing: border-box;
}

.product-info div:last-child a {
    text-align: center;
    text-decoration: none;
    width: 50%;
    padding: 3%;
    margin-top: 5%;
    background-color: black;
    color: white;
    border: none;
    font-family: "Anton", sans-serif;
    cursor: pointer;
    font-size: 22px;
    display: block;
    margin-bottom: 5%;
}

.product-info div:last-child a:hover {
    background-color: #d50032;
}
.product-images div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-images div img{
    width: 50%;
    height: auto;
    display: block;
}

.juegoscoach div img{
    text-align: center;

}
.imgjuegos
{
    max-width: 60%;
    margin-bottom: 2%;
}
.imgjuegos img
{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.imgjuegos
{
    margin-left: 20%;
}
.juegoscoach div h1
{
    text-align: center;
    font-size: 150px;
    color: rgb(111, 27, 189);
}
.juegoscoach div h2
{
    padding-bottom: 5%;
}
.juegoscoach h2
{
    text-align: center;
    font-size: 50px;
    color: rgb(250, 250, 250);
}
.vercoachs
{
    margin-left: 42.5%;
    padding: 0.5%;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    background-color: darkgrey;
    font-size: 30px;
}
.quesirvecoach div div
{
    background-color: rgb(230, 68, 79);
    width: 70%;
    border-radius: 20px;
    margin-left: 12%;
    margin-bottom: 1%;
}
.quesirvecoach div div p
{
    font-size: 20px;
    text-align: center;
}
.quesirvecoach div div h3
{
    font-size: 30px;
    text-align: center;
}
.quesirvecoach h2
{
    text-align: center;
    font-size: 70px;
    margin-top: 5%;
    margin-bottom: 2%;
}
.streamers h2
{
    text-align: center;
    font-size: 70px;
    margin-bottom: 2%;
    margin-top: 2%;
}
.streamers div div
{
    background-color: aqua;
    width: 95%;
    margin-left: 1.7%;
    border-radius: 20px;

}
.streamers div div img
{
    width: 70%;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 2%;
}
.streamers div div p
{
    margin-left: 3%;
    margin-bottom: 0.5%;
    font-size: 20px;
}
.lvlup
{
    text-align: center;
    padding-bottom: 4%;
}
.lvlup a
{
    padding: 0.5%;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    background-color: darkgrey;
    font-size: 30px;
    margin-right: 2%;
}
.lvlup h2
{
    font-size: 60px;
}
.lvlup h3
{
    margin-bottom: 3%;
    margin-top: 2%;
    font-size: 30px;
}
/*----------------------------------------------------layouts-----------------------------------*/
.x3x2 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x2x1 {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.product-page{
    grid-template-columns: 2fr 1fr;
}
.x3x3 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x3x4 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x3x1 {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.x2x2 {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.x1x4 {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}


